body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #222  ;
  color: #fff;
  margin: 0;
  padding: 50px 0 0 0;
} 

h1,
h2
 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: #ffcc00;
  margin-bottom: 1rem;
}

.skip-link {
  margin: 20px;
  background: gold;
  color: black;
  padding: 70px 10px 10px 10px;
  border-radius: 12px;
  text-decoration: none;
}

.skip-link:focus {
  left: 0;
  color: gold;
}

.skip-link:hover {
  background: black;
  color: white;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
}

.site-header h1 {
  font-size: 2.5rem;
}

.banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
} 

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #444;
  border-radius: 10px;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #ffd700;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem;
}

.main-nav ul li a:hover, 
.main-nav ul li a:focus{
  color: white;
  text-decoration: none;
}

.main-content ul li a {
  display: block;
  color: white;
  text-decoration: underline;
}

section {
  width: auto;
  padding: 50px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
} 

.welcome p{
  text-align: justify;
}

.owner ul {
  list-style: none;
} 

.owner ul li {
  padding: 5px 0 0 0;
  text-align: justify;
}

.contact-section {
  background: rgba(255, 255, 255, 0.08);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;  
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .5rem 1rem;
  background: #333;
  color: #fff;
  border: 1px solid #ffd700;
  border-radius: 10px;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: #ffd700;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
}

form button:hover {
  background: black;
  color: #ffd700;
}

.site-footer {
  text-align: left;
  margin: 30px;
  padding-bottom: 10px;
  background: #222;
  color: #ffcc00;
}